#paragraphOne {
  font-size: 40px;
}

#paragraphTwo {
  font-size: 30px;
}

#contents {
  display: flex;
  justify-content: center;
}

#content {
  text-align: center;

}

h3 {
  color: white;
  font-family: Kalam !important;
  margin-top : 30px !important;
  font-size: 40px !important;

}

.w3-container{
  width: 300px;
}

#main {
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px!important;
}

#content {
  background-color:rgba(0,0,0,0.35);
  border-radius: 25px;
  margin: 10px;
}

#links {
  padding-bottom: 100px;
}

a {
  margin-left: 5px
}

p {
  color: white;
  font-family: Kalam;
}

span {
  color: white;
  font-family: Kalam;
}

html,body {
  background-color: #9900CC;
  width: 100%;
  height: 100%;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 40px !important;
}

.icon {
  color: white;
}

.fa-github {
  margin-bottom: 30px;
}
