#paragraphOne {
  font-size: 40px;
}

#paragraphTwo {
  font-size: 30px;
}

#contents {
  display: flex;
  justify-content: center;
}

#content {
  text-align: center;

}

h3 {
  color: white;
  font-family: Kalam !important;
  margin-top : 30px !important;
  font-size: 40px !important;
}

.w3-container{
  width: 300px;
}

#main {
  text-align: center;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

#content {
  background-color:rgba(0,0,0,0.35);
  border-radius: 25px;
  margin: 10px;
}

#links {
  padding-bottom: 100px;
}

a {
  margin-left: 5px
}

a:active a:hover {

}

p {
  color: white;
  font-family: Kalam;
}

span {
  color: white;
  font-family: Kalam;
}

html,body {
  position: absolute;
  background: linear-gradient(#660099, #669999)no-repeat center center fixed;
  width: 100%;
  height: 100%;
  font-family: Kalam;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 40px !important;
}

.icon {
  color: white;
}

.fa-github {
  margin-bottom: 50px;
}

.w3-light-grey{
  margin-bottom:
}

#contactForm {
  padding: 20px;
}

#inputForm {
  margin-bottom: 10px;
}

label {
  color: white;
}

textarea {
  border-radius: 25px;
}

@media (max-width: 768px) {
  textarea {
    width: 600px;
  }
  img {
    height: 180px;
    width: 180px;
    margin-bottom: 10px !important;
  }
  /*html,body {
    background-repeat: repeat;
  }*/
  #content {
    height :auto;
  }
  #contents {
    display: flex;
    flex-direction: column;
  }
  #main {
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }
  #paragraphOne {
    font-size: 35px;
  }
  #paragraphTwo {
    font-size: 25px;
  }
  h3 {
    font-size: 30px !important;
  }
  .w3-container {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}


@media (max-width: 320px) {
  textarea {
    width: 200px;
  }
  #submitForm{
    margin-top: 20px;
  }
  img {
    height: 125px;
    width: 125px;
    margin-bottom: 10px !important;  #submitForm
  }
  /*html,body {
    background-repeat: repeat;
  }*/
  #content {
    height :auto;
  }
  #contents {
    display: flex;
    flex-direction: column;
  }
  #main {
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }
  #paragraphOne {
    font-size: 30px;
  }
  #paragraphTwo {
    font-size: 20px;
  }
  h3 {
    font-size: 30px !important;
  }
  .w3-container {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}
